/** @format */

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("fonts/subset-AdobeCleanSerif-BoldIt.eot");
  src: local("Adobe Clean Serif Bold Italic"), local("AdobeCleanSerif-BoldIt"),
    url("fonts/subset-AdobeCleanSerif-BoldIt.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-BoldIt.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("fonts/subset-AdobeClean-Light.eot");
  src: local("Adobe Clean Light"), local("AdobeClean-Light"),
    url("fonts/subset-AdobeClean-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/subset-AdobeClean-Light.woff2") format("woff2"),
    url("fonts/subset-AdobeClean-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("fonts/subset-AdobeCleanSerif-Bold.eot");
  src: local("Adobe Clean Serif Bold"), local("AdobeCleanSerif-Bold"),
    url("fonts/subset-AdobeCleanSerif-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-Bold.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("fonts/subset-AdobeClean-LightIt.eot");
  src: local("Adobe Clean Light Italic"), local("AdobeClean-LightIt"),
    url("fonts/subset-AdobeClean-LightIt.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeClean-LightIt.woff2") format("woff2"),
    url("fonts/subset-AdobeClean-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("fonts/subset-AdobeCleanSerif-It.eot");
  src: local("Adobe Clean Serif Italic"), local("AdobeCleanSerif-It"),
    url("fonts/subset-AdobeCleanSerif-It.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-It.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("fonts/subset-AdobeClean-Black.eot");
  src: local("Adobe Clean Black"), local("AdobeClean-Black"),
    url("fonts/subset-AdobeClean-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/subset-AdobeClean-Black.woff2") format("woff2"),
    url("fonts/subset-AdobeClean-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("fonts/subset-AdobeCleanSerif-Regular.eot");
  src: local("Adobe Clean Serif"), local("AdobeCleanSerif-Regular"),
    url("fonts/subset-AdobeCleanSerif-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/subset-AdobeCleanSerif-Regular.woff2") format("woff2"),
    url("fonts/subset-AdobeCleanSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Adobe Clean", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
